<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fule.mesurekeyheight"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 读取SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 设备编号权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity"
                  android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name=".MainActivity"
                  android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.RepastPracticeActivity"/>
        <activity android:name=".activity.ProfilePracticeActivity"/>
        <activity android:name=".activity.WebviewPracticeActivity"/>
        <activity android:name=".activity.WeiboPracticeActivity"/>
        <activity android:name=".activity.FeedlistPracticeActivity"/>
        <activity android:name=".activity.BannerPracticeActivity"/>
        <activity android:name=".activity.QQBrowserPracticeActivity"/>


        <activity android:name=".style.DeliveryStyleActivity"/>
        <activity android:name=".style.DropboxStyleActivity"/>
        <activity android:name=".style.FlyRefreshStyleActivity"/>
        <activity android:name=".style.WaveSwipStyleActivity"/>
        <activity android:name=".style.WaterDropStyleActivity"/>
        <activity android:name=".style.MaterialStyleActivity"/>
        <activity android:name=".style.PhoenixStyleActivity"/>
        <activity android:name=".style.TaurusStyleActivity"/>
        <activity android:name=".style.BezierStyleActivity"/>
        <activity android:name=".style.CircleStyleActivity"/>
        <activity android:name=".style.FunGameHitBlockStyleActivity"/>
        <activity android:name=".style.FunGameBattleCityStyleActivity"/>
        <activity android:name=".style.StoreHouseStyleActivity"/>
        <activity android:name=".style.ClassicsStyleActivity"/>
    </application>

</manifest>