<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fule.mesurekeyheight">
    <!-- 读取SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 设备编号权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许请求访问使用照相设备(如果使用视频通话则必选配置) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".test.GlActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".refreshFrame.activity.RepastPracticeActivity" />
        <activity android:name=".refreshFrame.activity.ProfilePracticeActivity" />
        <activity android:name=".refreshFrame.activity.WebviewPracticeActivity" />
        <activity android:name=".refreshFrame.activity.WeiboPracticeActivity" />
        <activity android:name=".refreshFrame.activity.FeedlistPracticeActivity" />
        <activity android:name=".refreshFrame.activity.BannerPracticeActivity" />
        <activity android:name=".refreshFrame.activity.QQBrowserPracticeActivity" />

        <!--user 风格-->
        <activity android:name=".refreshFrame.style.DeliveryStyleActivity" />
        <activity android:name=".refreshFrame.style.DropboxStyleActivity" />
        <activity android:name=".refreshFrame.style.FlyRefreshStyleActivity" />
        <activity android:name=".refreshFrame.style.WaveSwipStyleActivity" />
        <activity android:name=".refreshFrame.style.WaterDropStyleActivity" />
        <activity android:name=".refreshFrame.style.MaterialStyleActivity" />
        <activity android:name=".refreshFrame.style.PhoenixStyleActivity" />
        <activity android:name=".refreshFrame.style.TaurusStyleActivity" />
        <activity android:name=".refreshFrame.style.BezierStyleActivity" />
        <activity android:name=".refreshFrame.style.CircleStyleActivity" />
        <activity android:name=".refreshFrame.style.FunGameHitBlockStyleActivity" />
        <activity android:name=".refreshFrame.style.FunGameBattleCityStyleActivity" />
        <activity android:name=".refreshFrame.style.StoreHouseStyleActivity" />
        <activity android:name=".refreshFrame.style.ClassicsStyleActivity" />
        <!--user 使用-->

        <activity android:name=".refreshFrame.using.BasicUsingActivity" />
        <activity android:name=".refreshFrame.using.AssignDefaultUsingActivity" />
        <activity android:name=".refreshFrame.using.AssignXmlUsingActivity" />
        <activity android:name=".refreshFrame.using.AssignCodeUsingActivity" />
        <activity android:name=".refreshFrame.using.ListenerUsingActivity" />
        <activity android:name=".refreshFrame.using.CustomUsingActivity" />
        <activity android:name=".refreshFrame.using.NestLayoutUsingActivity" />
        <activity android:name=".refreshFrame.using.SnapHelperUsingActivity" />

        <!--<receiver android:name=".broadcast.NetWorkStateReceiver">-->
        <!--<intent-filter>-->
        <!--//检测网络变化的acton-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>